.bloco{
    width: 50%;
    float: left;
    margin-top: 30px;
    height: 130px;
}

.bloco a{
    font-size:19px;
}

@media only screen and (max-width: 705px) {
  .bloco {
    width:100%;
    float: none;
  }
}
