a {
    font-size: 18px;
}

.bloco{
    width: 50%;
    float: left;
    margin-top: 30px;
    height: 130px;
}

@media only screen and (max-width: 705px) {
  .bloco {
    width:100%;
    float: none;
    margin-top: 0px;
  }

  .divisao {
      
    margin-bottom: 35px;
    
  }
}
