.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bloco{
    margin-top: 45px; 
    width: 50%;
    text-align: center;
}

.bloco a{
    font-size: 23px;
    padding: 10px;
    border-left: 4px solid;
    border-right: 1px solid;
    border-radius: 5px;
    text-decoration: none;
}

.bloco a:hover{
    font-size:25px;
}

@media only screen and (max-width: 799px) {
  .bloco {
    width:80%;
    height: auto;
    text-align: justify;
  }

  .menu{
      display:block;
  }
}
