.bloco{
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

.bloco span{
    color: var(--headings);
}

.card {
    padding:0;
    transition: 0.2s;
}

.card:hover{
    background: var(--text);
    border: 1px solid var(--bg-secondary);
}

.card:hover .descricao-card{
    color: var(--bg);
}

.card:hover .heading-card{
    color: var(--bg);
}

