.bloco{
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

.bloco span{
    color: var(--headings);
}

.card {
    padding:0 !important;
}

.card:hover{
    background: var(--bg-card);
    border: 1px solid;
}

.bloco:hover .descricao-card{
    color: var(--texto-card);
}

.bloco:hover .heading-card{
    color: var(--heading-card);
}

