---
---

@import "moonwalk";
@import "list";
@import "syntax";

pre {
    white-space: pre-wrap;
}

.barra-lateral{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: auto;
	width: 300px;
	background-color: var(--bg-barra-lateral)
}

.barra-lateral h3{
    margin-left: 15px;
	font-weight: 300;
	color: var(--bg);
    margin-bottom: -7px;
}

.barra-lateral h4{
	font-weight: 300;
	color: var(--bg);
    margin-bottom: -5px;
}

.barra-lateral li{
    list-style: none;
}
.barra-lateral a{
    color: var(--bg-secondary);
    padding-left: 15px;
    text-decoration: none;
}

.titulo-topico{
    font-size: 18px;
    color: var(--topicos-navbar) !important;
    font-weight: bold;
}

.titulo-topico:hover{
  color: var(--bg-card) !important;
}

.topicos-dropdown{
  width: 285px;
  height: auto;
  display: block;
  border-bottom: 1px solid black;
  color: var(--text) !important;
}

.div-titulo-navbar{
    background: var(--heading-navbar);
    text-align: center;
    display: block;
    padding: 1px;
    margin-bottom: 20px;
}
.titulo-navbar{
	font-size: 22px;
	color: var(--topicos-navbar);
    padding: 10px 0;
    padding: 4px 6px;
}

.dropdown-btn{
    background: var(--bg-barra-lateral);
    color: var(--bg);
    font-size: 16px;
    margin-top: 15px;
    border: none;
    display: block;
    cursor: pointer;
}

.dropdown{
  background: var(--bg-card);
}
.active{
    color: var(--bg) !important;
    background: var(--text);
}
   
.nopadding {
    padding: 0;
}

.dropdown-btn:hover{
    background: var(--text);
    color: var(--bg);
}
.dropdown-container{
    display: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-device-width: 1124px) {
	  .barra-lateral {
	  	display: none;
	}
	  .wPost {
		padding: 4em 2em;
		margin: 0 auto;	
	}

}

@media print {
    #navbar {
        display: none;
    }
    
    .wPost{
        margin: auto;
    }


    #imagem-tema{
        display:none !important;
    }

    img {
        page-break-inside:avoid

    }
}

